confluence:
  # if developing locally, it's much faster to skip the atlassian download.
  # Put your atlassian-confluence.tar.gz in salt/confluence/, and uncomment this:
  # source_url: salt://confluence
  version: 5.9.4

  jvm_Xms: 768m
  jvm_Xmx: 768m

  # templates/confluence-config.properties.tmpl
  properties:

